<section>
    <div class="home-container">
        <div class="home-title-container">
            <h1>La mejor forma de comercializar tus productos</h1>
            <app-button label="Acerca de nosotros" routerLink="/about" />
        </div>
        <div class="home-image-container">
            <img src="../../../assets/campesinoscu.jpg" alt="campesinoscu">
        </div>
    </div>
</section>

<div class="section-separator"></div>

<section class="beneficios-section">
    <div class="beneficios-title-description">
        <h2>Nuestros Beneficios</h2>
        <p>Descubre por qué somos la mejor opción para comercializar tus productos agrícolas</p>
    </div>
    <div class="beneficios-container">
        @for (beneficio of beneficios; track beneficio.title) {
            <div class="beneficio-item">
                <img [src]="beneficio.image" [alt]="beneficio.title">
                <h2>{{ beneficio.title }}</h2>
                <p>{{ beneficio.description }}</p>
            </div>
        }
    </div>
</section>