<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <h1 class="title-register">Registro</h1>
    <div class="form-grid">
        <div class="fieldset">
            <h3>Datos personales</h3>
            <!-- NOMBRE -->
            <app-form-input label="Nombre" placeholder="" icon="person" inputType="text" [control]="NombreControl"
                [enabled]="true" [mandatory]="true" />
            <!-- APELLIDO -->
            <app-form-input label="Apellido" placeholder="" icon="person" inputType="text" [control]="ApellidoControl"
                [enabled]="true" [mandatory]="true" />
            <!-- TIPO DE DOCUMENTO -->
            <app-form-select [control]="TipoDocumentoControl" label="Tipo de documento" [options]="documentTypes"
                [enabled]="true" [mandatory]="true" icon="person" />
            <!-- NUMERO DE DOCUMENTO -->
            <app-form-input label="Documento" placeholder="" icon="supervisor_account" inputType="text"
                [control]="DocumentoControl" [enabled]="true" [mandatory]="true" />
        </div>

        <div class="fieldset">
            <h3>Datos de contacto</h3>
            <!-- TELEFONO -->
            <app-form-input label="Teléfono" placeholder="" icon="phone" inputType="number" [control]="TelefonoControl"
                [enabled]="true" [mandatory]="true" />
            <!-- DEPARTAMENTO -->
            <app-form-select label="Departamentos" placeholder="" [control]="DepartamentoControl"
                [options]="departamentosList" />
            <!-- CIUDAD -->
            <app-form-select label="Ciudad" placeholder="" [control]="MunicipioControl" [options]="ciudadesList" />
            <!-- DIRECCION -->
            <app-form-input label="Dirección" placeholder="" icon="location_on" inputType="text"
                [control]="DireccionControl" [enabled]="true" [mandatory]="true" />
        </div>

        <div class="fieldset">
            <h3>Datos de usuario</h3>
            <!-- CORREO -->
            <app-form-input label="Correo electronico" placeholder="" icon="person" inputType="email"
                [control]="CorreoControl" [enabled]="true" [mandatory]="true" />
            <!-- CONTRASEÑA -->
            <app-form-input label="Contraseña" placeholder="" icon="lock" inputType="password"
                [control]="ContrasenaControl" [enabled]="true" [mandatory]="true" [showTogglePassword]="true" />
            <!-- CONFIRMAR CONTRASEÑA -->
            <app-form-input label="Confirmar contraseña" placeholder="" icon="lock" inputType="password"
                [control]="ConfirmarContrasenaControl" [enabled]="true" [mandatory]="true" [showTogglePassword]="true"
                [errorMessage]="passwordMismatchError ? 'Las contraseñas no coinciden' : ''"
                [showCustomError]="!passwordMismatchError" />

        </div>

        <div class="button-container">
            <app-button label="Registrar" [type]="buttonType.PRIMARY" [disabled]="!form.valid" />
        </div>
    </div>
</form>